In [2]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame

In [5]:
df =Series([1,2,3,4],index=['A','B','C','D'])

In [9]:
# indexを付け替えられる
df2 =df.reindex(['A','B','C','D','E'])
df2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [10]:
# fill_valueで初期値を入れられる
df3 =df.reindex(['A','B','C','D','E'],fill_value=0)
df3

A    1
B    2
C    3
D    4
E    0
dtype: int64

In [12]:
df4 =Series(['mamuhsi','timi','neko'],index =[0,5,10])
df4

0     mamuhsi
5        timi
10       neko
dtype: object

In [14]:
# 前の値を使用してNanを埋めることができる
df4.reindex(range(15),method='ffill')

0     mamuhsi
1     mamuhsi
2     mamuhsi
3     mamuhsi
4     mamuhsi
5        timi
6        timi
7        timi
8        timi
9        timi
10       neko
11       neko
12       neko
13       neko
14       neko
dtype: object

In [17]:
ser1 =Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int64

In [18]:
# 削除するのはdrop
ser1.drop('b')

a    0
c    2
dtype: int64

In [21]:
df =DataFrame(np.arange(9).reshape((3,3)),index=['A','B','C'],
             columns=['a','b','c'])
df

   a  b  c
A  0  1  2
B  3  4  5
C  6  7  8

In [24]:
# 行削除
df.drop('A')

# 列削除
df.drop('a', axis=1)

   b  c
A  1  2
B  4  5
C  7  8

In [28]:
# データの取り出し
df[df['c']>3]

    a   b   c
B   3  10  10
C  10  10  10

In [37]:
# データの並べかえ

ser1 =Series(range(3),index =['C','B','A'])

# 並べ変え
ser1

C    0
B    1
A    2
dtype: int64

In [38]:
# keyで並び替え
ser1.sort_index()

A    2
B    1
C    0
dtype: int64

In [48]:
from numpy.random import randn
ser2 =Series(randn(10))
ser2

0   -0.105271
1   -1.056042
2    0.600803
3    0.296817
4    0.166633
5   -0.478242
6    0.378433
7    0.731872
8    0.450440
9    0.170153
dtype: float64

In [44]:
# rankで何番に大きいかでてくる数字が高ければ高いほど、元の数字が高くなる
ser2.rank()

0     2.0
1     4.0
2     6.0
3     3.0
4     8.0
5     9.0
6    10.0
7     7.0
8     1.0
9     5.0
dtype: float64

In [6]:
# 欠損値の扱いについて

data =Series([1,np.nan])

In [8]:
# 欠損値があるかの確認
data.isnull()

0    False
1     True
dtype: bool

In [10]:
# 欠損値の削除
data.dropna()

0    1.0
dtype: float64

In [3]:
df =DataFrame([[1,2,3],[np.nan,5,6],[np.nan,np.nan,np.nan]])
df

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  NaN  NaN  NaN

In [4]:
# 全ての欠損値になっているところが消える

df.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0

In [5]:
# 欠損値をある値で埋める
df.fillna(1)

     0    1    2
0  1.0  2.0  3.0
1  1.0  5.0  6.0
2  1.0  1.0  1.0

In [6]:
# 0の列は0などkey,valueで指定してできる
df.fillna({0:0,1:1,2:4})

     0    1    2
0  1.0  2.0  3.0
1  0.0  5.0  6.0
2  0.0  1.0  4.0

In [ ]:
# 元々のdfに変更をかけたい時、inplace=Trueにする
df.fillna(0,inplace=True)